@model CleanArchBase.Application.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Register new Product";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" class="row g-3">
    <div>
        <hr />
        <vc:summary />
    </div>

    <div class="col-md-6">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Nome">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Preco" class="form-label">Preco</label>
        <input type="text" class="form-control" asp-for="Preco">
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Descricao" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Descricao">
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
    <hr />
    <div class="col-12">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success">
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </div>
    </div>
</form>